{% if os['max'] is defined and os['max'] not in ['', [], '[]', None] %}
{{ ' --silences.max-silences=\'' + os['max'] + '\'' -}}
{% endif %}
{% if os['max_size_bytes'] is defined and
  os['max_size_bytes'] not in ['', [], '[]', None] %}
{{ ' --silences.max-silence-size-bytes=\'' + os['max_size_bytes'] + '\'' -}}
{% endif %}
